<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
    <title>chart</title>
   
        </head>
        <body>
                <div id="chart"></div>
        <script type="text/javascript">
    if ("{{ chart }}" == "bar"){
            d3.selectAll("h1").style("color","red");
            // var svg = dimple.newSvg("body", 1000, 1000,"margin",200);
            
            var svg = d3.select("body")
                .append("svg")
                .attr("width",1000)
                .attr("height", 1000);          

            var data = {{a|tojson|safe}};
            console.log(data);
            var chart = new dimple.chart(svg, data);
            chart.addCategoryAxis("x", "latitude");
            chart.addMeasureAxis("y", "mag");
            chart.addSeries(null, dimple.plot.bar);
            chart.addLegend(500, 20, 90, 300, "left");
            chart.draw()
            

            s.afterDraw = function (shape, data) {
        // Get the shape as a d3 selection
        var s = d3.select(shape),
          rect = {
            x: parseFloat(s.attr("x")),
            y: parseFloat(s.attr("y")),
            width: parseFloat(s.attr("width")),
            height: parseFloat(s.attr("height"))
          };
        // Only label bars where the text can fit
        if (rect.height >= 8) {
          // Add a text label for the value
          svg.append("text")
            // Position in the centre of the shape (vertical position is
            // manually set due to cross-browser problems with baseline)
            .attr("x", rect.x + rect.width / 2)
            .attr("y", rect.y + rect.height / 2 + 3.5)
            // Centre align
            .style("text-anchor", "middle")
            .style("font-size", "10px")
            .style("font-family", "sans-serif")
            // Make it a little transparent to tone down the black
            .style("opacity", 0.6)
            // Prevent text cursor on hover and allow tooltips
            .style("pointer-events", "none")
            // Format the number
            .text(d3.format(",.1f")(data.yValue / 1000) + "k");
        }
      };

            }
            
    else if("{{ chart }}" == "pie")
    {
    
        var data = {{ a|tojson|safe }};
    // var svg = dimple.newSvg("#chartContainer", 590, 400);
    var svg = d3.select("body")
                .append("svg")
                .attr("width",10000)
                .attr("height", 10000)
                .attr("margin",200);
            
    
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(20, 20, 460, 360)
      myChart.addMeasureAxis("p", "latitude");
      myChart.addSeries("mag", dimple.plot.pie);
      myChart.addLegend(500, 20, 90, 300, "left");
      myChart.draw();
    

    }


    else if("{{ chart }}" == "scatter")
{   
    var svg = d3.select("body")
                .append("svg")
                .attr("width",10000)
                .attr("height", 10000)
                .attr("margin",200);
            
    var data = {{ a|tojson|safe }};
    var myChart = new dimple.chart(svg, data);
         myChart.setBounds(60, 30, 900, 500)
           var x = myChart.addMeasureAxis("x", "latitude");
           var y = myChart.addMeasureAxis("y", "mag");
           myChart.addSeries(["latitude", "mag"], dimple.plot.bubble);
           myChart.addLegend(200, 10, 360, 20, "right");
           x.overrideMax = 50.00000000;
           x.overrideMin = -50.00000000;
           y.overrideMax = 10.00000000;
           y.overrideMin = -10.00000000;
           x.ticks = 10;
           x.ticks = 10;
           x.tickFormat = ',.7f';
           y.tickFormat = ',.7f';
           myChart.draw();
   }
   else{
       d3.select("body")
        .append("p")
        .text("Not available in this please try only")
        .style("color","red")

   }

          </script>
          
        
</body>
</html>