<h1>id:1001616138 name:Gunalan,Karthik</h1>





time for  query executing for the first time to fetch query from db={{timedb}}<br>



time for query executing for the first time to fetch query from cache={{timecache}}<br>

<table>
        <tr>
            <th>time</th>
            <th>place</th>
            <th>mag</th>
            
        </tr>
        {% for row in rows %}
            <tr>
                <td>
                    {{row['time']}}
                </td>
                <td>
                    {{row['place']}}
                </td>
                <td>
                    {{row['mag']}}
                </td>
    
            </tr>
    
        {% endfor %}
    </table>
